<div class="card shadow mb-4">
    <div class="card-header">
        <h3 class="m-0 font-weight-bold text-primary">{{ idTender == '' ? 'Create' : 'Update' }} Tender</h3>
    </div>
    <div class="card-body">
        <!-- for loading spinner true -->

        <ng-container *ngIf="isLoading">
            <mat-progress-spinner diameter=80    style="margin:0 auto;"  mode="indeterminate" color="primary"></mat-progress-spinner> 
        </ng-container>

          <!-- Loading Spinner False -->

        <ng-container *ngIf="!isLoading">
            <form [formGroup]="ReactiveFormTender">

                <!-- Tender Name -->
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Tender Name <span class="text-danger"> * </span> </label>
                  <div class="col-sm-10">
                    <input type="text" [ngClass]="{'is-invalid': isTouchedAndInvalid(ReactiveFormTender.controls['name'])}" class="form-control" id="name"  formControlName="name" >
                    <div *ngIf="isTouchedAndInvalid(ReactiveFormTender.controls['name'])" class="invalid-feedback">
                        <div *ngIf="ReactiveFormTender.controls.name.errors.required">
                            Tender Name is required
                        </div>
                    </div>                       
                  </div>
                </div>

                <!-- Contract Number -->
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Contract No <span class="text-danger"> * </span> </label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="TenderRef" [ngClass]="{'is-invalid': isTouchedAndInvalid(ReactiveFormTender.controls['reference'])}" formControlName="reference">
                    <div *ngIf="isTouchedAndInvalid(ReactiveFormTender.controls['reference'])" class="invalid-feedback">
                        <div *ngIf="ReactiveFormTender.controls.reference.errors.required">
                            Contract Number is required
                        </div>
                    </div>
                  </div>
                </div>

                <!-- Row Release Date & Closing Date -->
                <div class="form-group row">
                    <!-- Release Date -->
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Release Date <span class="text-danger"> * </span></label>
                    <div class="col-sm-4">
                        <div class="input-group">                        
                            <input type="text" class="form-control" [owlDateTimeTrigger]="dt1" [min]="todayDate" useValueAsDate [ngClass]="{'is-invalid': isTouchedAndInvalid(ReactiveFormTender.controls['releaseDate'])}" [owlDateTime]="dt1" id="ReleaseDate" formControlName="releaseDate">
                            <owl-date-time #dt1></owl-date-time>
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon" [owlDateTimeTrigger]="dt1"><span><i class="fa fa-calendar"></i></span> </div>
                            </div>
                            <div *ngIf="isTouchedAndInvalid(ReactiveFormTender.controls['releaseDate'])" class="invalid-feedback">
                                <div *ngIf="ReactiveFormTender.controls.releaseDate.errors.required">
                                    Release Date is required
                                </div>                               
                            </div>
                        </div>                        
                    </div>

                    <!-- Closing Date -->
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Closing Date <span class="text-danger"> * </span> </label>
                    <div class="col-sm-4">
                        <div class="input-group">                        
                            <input type="text" class="form-control" [owlDateTimeTrigger]="dt2" [min]="todayDate" useValueAsDate [ngClass]="{'is-invalid': isTouchedAndInvalid(ReactiveFormTender.controls['closingDate'])}" [owlDateTime]="dt2" id="ClosingDate" formControlName="closingDate">
                            <owl-date-time #dt2></owl-date-time>
                            <div class="input-group-prepend">
                                <div class="input-group-text" id="btnGroupAddon" [owlDateTimeTrigger]="dt2"><span><i class="fa fa-calendar"></i></span> </div>
                            </div>
                            <div *ngIf="isTouchedAndInvalid(ReactiveFormTender.controls['closingDate'])" class="invalid-feedback">
                                <div *ngIf="ReactiveFormTender.controls.closingDate.errors.required">
                                    Closing Date is required
                                </div>                        
                               
                            </div>
                        </div>
                        
                        <div *ngIf="ReactiveFormTender.errors" class="text-danger"><small>{{ ReactiveFormTender.errors?.dates | json }} </small> </div>
                    </div>    
                </div>         
                               
                 <!-- Description -->
                <div class="form-group row">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Description <span class="text-danger"> * </span> </label>
                    <div class="col-sm-10">
                        <textarea  class="form-control" id="Description" rows="6" [ngClass]="{'is-invalid': isTouchedAndInvalid(ReactiveFormTender.controls['description'])}" formControlName="description"></textarea>
                        <div *ngIf="isTouchedAndInvalid(ReactiveFormTender.controls['description'])" class="invalid-feedback">
                            <div *ngIf="ReactiveFormTender.controls.description.errors.required">
                                Description is required
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Submit -->
                <div class="form-group row">
                    <div class="col-sm-2"> </div>
                  <div class="col-sm-10">
                    <button  class="btn btn-secondary mr-2" routerLink="/tender/list">Back</button>
                    <button type="submit" class="btn btn-primary"  [disabled]="submit || ReactiveFormTender.invalid" (click)="onSubmit()">
                        <span *ngIf="!submit"> {{ idTender == '' ? 'Create' : 'Update' }} </span>
                        <span *ngIf="submit"> Loading...</span>
                    </button>
                  </div>
                </div>
            </form>
        </ng-container>       
    </div>
</div>