<div class="outer">
    <div class="middle">
      <div class="inner">
        <h1 class="h1">404</h1>
        <p class="subh1 mb-4">Page Not Found</p>
        <button class="btn btn-primary" (click)="back()">Back</button>
      </div>
    </div>
  </div>