
<div class="card shadow mb-4">
      <div class="card-header">
          <h3 class="m-0 font-weight-bold text-primary">Tender List </h3>
      </div>
    <div class="card-body">      
              <!-- Load Spinner -->
            <ng-container *ngIf="loading">
              <mat-progress-spinner diameter=80   style="margin:0 auto;"   mode="indeterminate" color="primary"></mat-progress-spinner> 
            </ng-container>

            <!-- End Spinner -->
            <ng-container *ngIf="!loading">
              <mat-form-field appearance="outline" class="float-left">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
              </mat-form-field>

              <button class="float-right mt-3 btn btn-outline-primary" routerLink="/tender/create"> <span class="fa fa-plus"></span> Create Tender</button>

              <div class="clearfix"></div>

              <div class="example-container mat-elevation-z8">  
                
                <mat-table #Table [dataSource]="MyDataSource" matSort>  
          
                    <!-- For Tender ID -->  
                    <ng-container matColumnDef="TenderID">  
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Tender ID </mat-header-cell>  
                        <mat-cell *matCellDef="let row"> {{row.idTender}} </mat-cell>  
                    </ng-container>  
          
                    <!-- For Contract No -->  
                    <ng-container matColumnDef="ContractNo">  
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Contract No </mat-header-cell>  
                        <mat-cell *matCellDef="let row"> {{row.reference}} </mat-cell>  
                    </ng-container>  
          
                    <!-- For Tender Name -->  
                    <ng-container matColumnDef="TenderName">  
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Tender Name </mat-header-cell>  
                        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>  
                    </ng-container>  
          
                    <!-- For Release Date -->  
                    <ng-container matColumnDef="ReleaseDate">  
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Release Date </mat-header-cell>  
                        <mat-cell *matCellDef="let row"> {{row.releaseDate | date: 'dd/MM/yyyy, H:mm'}} </mat-cell>  
                    </ng-container>  

                      <!-- For Closing Date -->  
                      <ng-container matColumnDef="ClosingDate">  
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Closing Date </mat-header-cell>  
                        <mat-cell *matCellDef="let row"> {{row.closingDate | date: 'dd/MM/yyyy, H:mm'}} </mat-cell>  
                    </ng-container>  

                      <!-- For Action -->  
                      <ng-container matColumnDef="Action">  
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">  </mat-header-cell>  
                        <mat-cell *matCellDef="let row" style="text-align:center">  
                          <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-primary" (click)="DetailTender(row.idTender)"><span class="fa fa-search"></span></button>
                            <button type="button" class="btn btn-outline-secondary" [routerLink]="['/tender/edit',row.idTender]"><span class="fa fa-edit"></span> </button>
                            <button type="button" class="btn btn-outline-danger" (click)="onDelete(row.idTender)"> <span class='fa fa-trash'></span> </button>
                            
                          </div>
                        </mat-cell>  
                    </ng-container> 
          
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  

                </mat-table>  
              
              </div>  

            </ng-container>
          <!-- To paginate  -->  
          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">  
          </mat-paginator> 

    </div>
</div>

