.example-container {
    display: flex;
    flex-direction: column;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal {
    position: relative;
}


.line {
    height: 20px;
    width: 3px;
    border-radius: 2px;
    background-color: #384ad7;
    position: absolute;
    transition: all .5s;
}

.one {
    top: 15px;
    left: 23px;
    transform: rotate(45deg)
}

.two {
    top: 15px;
    left: 23px;
    transform: rotate(-45deg)
}

.flex-container {
    display: flex;
}

/* ================================== custome mat-field angular ====================== */

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: #c82333!important;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(236, 233, 233)!important;
   
}


::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #5d78ff!important;
}


::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: #c82333!important;
    opacity: 0.8!important;
}


::ng-deep .mat-input-element {
    caret-color: #c82333!important;
}


::ng-deep .mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
    caret-color: #c82333!important;
}


::ng-deep .mat-form-field-label {
    color: rgba(0, 0, 0, .6)!important;
  
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #5d78ff !important;
}


::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #c82333!important;
}


.close-button {
    float: right;
    top: -24px;
    right: -24px;
}

.close-icon {
    transition: 1s ease-in-out;
}

.close-icon:hover {
    transform: rotate(180deg);
}

 ::ng-deep .icon-outside .close-button {
    float: right;
    top: -52px;
    right: -52px;
}

 ::ng-deep .icon-outside .mat-dialog-container {
    overflow: unset
}

::ng-deep .cdk-overlay-connected-position-bounding-box { z-index: 10000 !important; }