


<!-- Outer Row -->
<div class="row justify-content-center mt-5">
    <div class="col-xl-4 col-lg-5 col-md-6">
        <div class="card  shadow-lg"> 
            <div class="card-body">            
                <div class="col-lg-12">
                    <div class="p-3">

                        <h2 class="text-gray-900">Please login</h2>
                        <!-- Notif Failed Login-->
                        <div *ngIf="error">
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{error}}     
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>

                        <!-- Form Login -->
                        <form  [formGroup]="loginForm">
                            <!-- Enter Email -->
                            <mat-form-field class="example-full-width mb-2 mt-2" style="width:100%;" color="accent" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input class="w-100" matInput formControlName="email" required>
                                <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                                    Email is required
                                </mat-error>
                                <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">
                                    Email not valid
                                </mat-error>
                            </mat-form-field>
                            
                            <!-- Enter Password -->
                            <mat-form-field class="example-full-width" style="width:100%;" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input class="w-100" matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                                <span style="cursor: pointer;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </span>
                                <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                                    Password is required
                                </mat-error>                                            
                            </mat-form-field>

                            <!-- Login -->
                            <button (click)="login()" [disabled]="loginForm.invalid || isLoading" mat-raised-button type="submit"   class="btn btn-primary w-100  mt-3">Login</button>
                            <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                            
                        </form>                        
                    </div>
                </div>                        
            </div>
        </div>
    </div>
</div>



