<button class="close" mat-button mat-dialog-title (click)="closeDialog()"><span class="fa fa-times"></span></button>
<h2 mat-dialog-title>Detail Tender</h2>

<mat-dialog-content class="mat-typography">

    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Tender ID</label>
        <div class="col-sm-10 col-form-label">
            {{row.detail.idTender}}
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Contract No</label>
        <div class="col-sm-9 col-form-label">
            {{row.detail.reference}}
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Tender Name</label>
        <div class="col-sm-10 col-form-label">
            {{row.detail.name}}
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Release Date</label>
        <div class="col-sm-10 col-form-label">
            {{row.detail.releaseDate | date: 'dd/MM/yyyy, H:mm'}}
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Closing Date</label>
        <div class="col-sm-10 col-form-label">
            {{row.detail.closingDate | date: 'dd/MM/yyyy, H:mm'}}
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10 col-form-label">
            {{row.detail.description}}
        </div>
    </div>
    

</mat-dialog-content>

   