/* You can add global styles to this file, and also import other style files */

@import "../node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css";
@import "../node_modules/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import '../node_modules/@sweetalert2/theme-material-ui/material-ui.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
